<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <appSettings>
    <add key="FirstChanceExceptionTrace" value="false" />
    <add key="Server" value="smtp.mandrillapp.com" />
    <add key="ServerPort" value="587" />
    <add key="RemoteActorSystemName" value="ActorSystemName" />
    <add key="GateWayCoordinatorActorName" value="alertcoordinator" />
    <add key="LocalSystemActorSystem" value="local-system" />
    <add key="ServiceUri" value="http://localhost:8181/" />
    <add key="ServiceName" value="3deYeAlertService" />
    <add key="ServiceDisplayName" value="3deYe AlertService" />
    <add key="ServiceDescription" value="3deYe Alert Service" />
  </appSettings>
  <akka>
    <hocon>
      <![CDATA[
      akka {
              loggers = ["Akka.Logger.NLog.NLogLogger,Akka.Logger.NLog"] 
              stdout-loglevel = DEBUG
              loglevel = DEBUG
              log-config-on-start = on 
              actor
              {
                  provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
                  
                  debug 
                  {
                    # enable function of LoggingReceive, which is to log any received message at
                    # DEBUG level
                    unhandled = on
                    receive = on
                    lifecycle = on
                    fsm = on
                  }                
                
              }

              remote {
                        helios.tcp {
                                      port = 8085
                                      hostname = localhost
                                      #public-hostname = "52.21.6.52"
                                   }
                      }
            }
           }
      ]]>
    </hocon>
  </akka>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>