<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <variable name="LogPath" value="${basedir}/logs/${shortdate}app{##}.log"/>
  <variable name="ErrorLogPath" value="${basedir}/logs/${shortdate}app{##}.errors.log"/>
  <variable name="FatalErrorLogPath" value="${basedir}/logs/${shortdate}app{##}.fatal.errors.log"/>
  <variable name="standardLayout" value="${longdate} [${threadname}] ${uppercase:${level}} ${logger} - ${message} ${onexception:${exception:format=tostring} | ${stacktrace}}"/>


  <!-- synchronous targets, used specifically by FATAL AppDomain.UnhandledException reporting -->
  <targets>
    <target xsi:type="File"
            name="FatalErrorRollingFile"
            fileName="${FatalErrorLogPath}"
            maxArchiveFiles="3"
            archiveAboveSize="1048576"
            layout="${standardLayout}"
            archiveFileName="${FatalErrorLogPath}"
            archiveNumbering="Rolling"
            archiveEvery="Day"
            concurrentWrites="false"/>
  </targets>

  <!-- asynchronous targets used for all other logging -->
  <targets async="true">
    <target xsi:type="File"
            name="RollingFile"
            fileName="${LogPath}"
            maxArchiveFiles="3"
            archiveAboveSize="1048576"
            layout="${standardLayout}"
            archiveFileName="${LogPath}"
            archiveNumbering="Rolling"
            archiveEvery="Day"
            concurrentWrites="false"/>
    <target xsi:type="File"
            name="ErrorRollingFile"
            fileName="${ErrorLogPath}"
            maxArchiveFiles="3"
            archiveAboveSize="1048576"
            layout="${standardLayout}"
            archiveFileName="${ErrorLogPath}"
            archiveNumbering="Rolling"
            archiveEvery="Day"
            concurrentWrites="false"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Fatal" writeTo="FatalErrorRollingFile"/>
    <logger name="*" minlevel="Error" writeTo="ErrorRollingFile"/>
    <logger name="*" minlevel="Trace" writeTo="RollingFile"/>
  </rules>
</nlog>